body {
    min-height: 100%;
    height:100%;
}
.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.header {
    height: 100px;
    width: 400px;
    background-color:#141f40
}
/* .main{
        display: flex;
    } */
.left{
    float: left;
    height: 250px;
    width: 150px;
    background-color:#80bfa8
}
.right{
    float: left;
    height: 250px;
    width: 250px;
    background-color: #8c2727;
}

.footer {
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}




/*ウィンドウ幅が最大767pxまでの場合に適用(タブレット用)*/
@media screen and (max-width: 767px) {
    
    .header {
        height: 100px;
        width: 250px;
        background-color:#141f40
    }
    /* .main{
        display: flex;
    } */
    .left{
        float: left;
        height: 250px;
        width: 150px;
        background-color: #80bfa8
    }
    .right{
        float: left;
        height: 250px;
        width: 100px;
        background-color: #8c2727;
    }
    .footer {
        height: 100px;
        width: 250px;
        background-color: #d98d30;
    }
}



/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {
    .header {
        height: 100px;
        width: 150px;
        background-color:#141f40
    }   
    .left{
        float: none; /* 要素の浮動化の解除 */
        height: 250px;
        width: 150px;
        background-color: #80bfa8
    }
    .right{
        float: none; /* 要素の浮動化の解除 */
        height: 250px;
        width: 150px;
        background-color: #8c2727;
    }
    .footer {
        height: 100px;
        width: 150px;
        background-color: #d98d30;
    }
}
